article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 125%;
}

h2 {
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.stroke-text {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

header {
  position: relative;
  height: 100vh;
  min-height: 450px;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(#1e4066));
  background: linear-gradient(to bottom, black 0%, #1e4066 100%);
  overflow: hidden;
  background-attachment: fixed;
}

header:after {
  content: "";
  background: url("/img/astrobg.jpg");
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-attachment: fixed;
  background-size: cover;
}

.globe-image-bg {
  width: 200vw;
  position: absolute;
  top: calc(100vh - 40vh);
  left: calc(100vw - 180vw);
  z-index: 1;
  -webkit-filter: brightness(70%) contrast(140%) drop-shadow(15px -15px 22px #7bceff);
          filter: brightness(70%) contrast(140%) drop-shadow(15px -15px 22px #7bceff);
  -webkit-animation-name: globe-rotation;
          animation-name: globe-rotation;
  -webkit-animation-duration: 380s;
          animation-duration: 380s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes globe-rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes globe-rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.name-container {
  position: absolute;
  top: 35%;
  left: 40%;
  -webkit-transform: translate(-40%, -35%);
          transform: translate(-40%, -35%);
  text-align: left;
  margin: 0 auto;
  color: white;
  z-index: 2;
}

.name-container h1 {
  font-family: "Do Hyeon", sans-serif;
  font-size: 4.5rem;
}

.name-container h2 {
  font-size: 2.5rem;
}

nav {
  width: 100%;
}

.navbar-responsive {
  width: 100vw;
  height: 300px;
  z-index: 5;
}

.navbar-navlist-responsive {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-responsive-container {
  position: fixed;
  top: 30px;
  z-index: 2;
}

.screen-dim {
  position: fixed;
  width: 100vh;
  height: 100vh;
  background: black;
  opacity: 0.4;
  z-index: 3;
}

.navitem-responsive {
  width: 200px;
  margin: 10px auto;
  padding: 10px 20px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#0071EB), to(#005fc4));
  background: linear-gradient(to bottom, #0071EB 0%, #005fc4 100%);
  -webkit-transform: skew(-25deg);
          transform: skew(-25deg);
}

.navitem-responsive a {
  display: block;
  -webkit-transform: skew(25deg);
          transform: skew(25deg);
  text-decoration: none;
  color: white;
}

.navbar {
  width: 70%;
  max-width: 800px;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) skew(-25deg);
          transform: translateX(-50%) skew(-25deg);
  background: -webkit-gradient(linear, left top, left bottom, from(#0071EB), to(#005fc4));
  background: linear-gradient(to bottom, #0071EB 0%, #005fc4 100%);
  z-index: 3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navbar-stickied {
  position: fixed;
  top: 0;
  bottom: auto;
  z-index: 1;
  height: 40px;
  font-size: 1rem;
  width: 100%;
  -webkit-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-navlist {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

.navitem {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  -webkit-transform: skew(25deg);
          transform: skew(25deg);
  padding: 0 1% 0 1%;
  color: white;
}

.navitem-stickied {
  height: 40px;
  line-height: 40px;
}

.navbar-navlink {
  text-decoration: none;
  color: white;
  padding: 16px 0 16px 0;
}

.navbar-navlink:hover {
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #ff9100;
}

.about img {
  width: 100%;
}

.about {
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 450px;
}

.about-boxes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 350px;
}

.about-box-image {
  width: 45%;
  padding-left: 5%;
  padding-bottom: 3%;
  background: #0071EB;
  -webkit-box-shadow: 12px 12px 15px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 12px 12px 15px 0px rgba(0, 0, 0, 0.25);
}

.about-box-image img {
  width: 100%;
  min-width: 250px;
  max-width: 550px;
  -webkit-box-shadow: -8px 12px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: -8px 12px 10px 0px rgba(0, 0, 0, 0.2);
}

.about-me-header {
  text-align: center;
  padding: 5px;
  width: 180px;
  background: #0071EB;
  height: 50px;
  -webkit-transform: skew(-25deg);
          transform: skew(-25deg);
  margin-left: 40px;
  color: white;
  border-left: 10px solid #ff9100;
  border-top: 5px solid #ff9100;
  -webkit-box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.25);
}

.about-me-header p {
  margin: 0;
  font-size: 1.2em;
  line-height: 40px;
  -webkit-transform: skew(25deg);
          transform: skew(25deg);
}

.about-box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  text-align: left;
}

.about-box-text .about-me-text {
  line-height: 2rem;
}

.portfolio {
  margin-bottom: 100px;
}

.portfolio-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-content p {
  margin: 0;
}

.portfolio-content h3 {
  margin-bottom: 20px;
  margin-top: 0;
}

.portfolio-work-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin: 50px 0 50px 0;
  max-width: 700px;
}

.portfolio-work-container-image {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  -moz-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  max-width: 450px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.work-container-info {
  width: 70%;
  text-align: center;
}

.work-container-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.portfolio-image-link:hover .portfolio-work-container-image {
  -webkit-filter: drop-shadow(0px 0px 10px #ff9100);
          filter: drop-shadow(0px 0px 10px #ff9100);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.work-container-text p {
  padding: 5px;
  font-size: 0.9em;
}

.work-container-viewgit {
  text-align: center;
}

.portfolio-github-code-link {
  text-decoration: none;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.portfolio-github-code-link:hover {
  color: #005fc4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.portfolio-github-code-link:hover .github-icon {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.github-icon {
  width: 40px;
  margin-top: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.skills {
  text-align: center;
  width: 100%;
  padding: 30px 0 30px 0;
}

.skills-content {
  background: -webkit-gradient(linear, left top, left bottom, from(#0071EB), to(#005fc4));
  background: linear-gradient(to bottom, #0071EB 0%, #005fc4 100%);
  width: 100%;
  margin: 0 auto;
  padding: 30px 0 30px 0;
}

.skills img {
  width: 120px;
  -webkit-filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.808));
          filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.808));
}

.experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experience-education-container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  margin-bottom: 80px;
}

.experience-content h4 {
  margin: 0;
}

.experience-education h4 {
  line-height: 30px;
  background-repeat: no-repeat;
  background-size: 30px auto;
  padding-left: 32px;
}

.experience-education ul {
  list-style: none;
}

.hackeryou-education-heading {
  background-image: url("/img/icon/hy.svg");
}

.carleton-education-heading {
  background-image: url("/img/icon/carleton.svg");
}

.experience-content p {
  margin: 10px 0 25px 0;
}

.experience-header-text {
  margin-top: 40px;
  margin-bottom: 80px;
  text-align: center;
}

.education-logo {
  width: 30px;
}

.slanted-header {
  text-align: center;
  padding: 5px;
  width: 220px;
  background: #0071EB;
  height: 60px;
  line-height: 45px;
  -webkit-transform: skew(-25deg);
          transform: skew(-25deg);
  color: white;
  border-left: 10px solid #ff9100;
  border-top: 5px solid #ff9100;
  margin-left: 50px;
  -webkit-box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.25);
}

.slanted-header h3 {
  -webkit-transform: skew(25deg);
          transform: skew(25deg);
  margin: 0;
}

.experience-education {
  width: 50%;
}

.experience-education p {
  padding-left: 32px;
}

.experience-work {
  width: 50%;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, from(#0071EB), to(#005fc4));
  background: linear-gradient(to bottom, #0071EB 0%, #005fc4 100%);
  color: white;
}

.contact-content {
  margin: 0 auto;
  text-align: center;
}

.email-link {
  text-decoration: none;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.email-link:hover {
  color: #ff9100;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.email-link-mobile {
  display: none;
}

.contact h4 {
  font-size: 1.6rem;
}

.contact i {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.contact-icons-list {
  list-style: none;
  padding: 0;
}

.contact-icons-list li {
  display: inline;
  font-size: 2em;
}

.contact-icons-list a {
  text-decoration: none;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact-icons-list a:hover {
  color: #ff9100;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer {
  background: black;
  color: white;
  width: 100%;
  padding: 10px;
  text-align: center;
  height: 45px;
}

footer p {
  margin: 0;
  font-size: 1rem;
}

@media (max-width: 950px) {
  .portfolio {
    margin-bottom: 10px;
  }
  .portfolio-work-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .work-container-info {
    width: 90%;
  }
  .work-container-text {
    width: 90%;
    text-align: center;
  }
}

@media (max-width: 800px) {
  .about-boxes-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-box-text {
    width: 80%;
  }
  .about-me-header {
    margin: 30px auto 0 auto;
  }
}

@media (max-width: 700px) {
  h2 {
    font-size: 2rem;
  }
  .name-container h2 {
    font-size: 6vw;
  }
  .about {
    min-height: 100vh;
    height: auto;
  }
  .about-boxes-container {
    width: 100%;
  }
  .about-box-image {
    width: 80%;
  }
  .portfolio-work-container {
    width: 100%;
    font-size: 5vw;
  }
  .work-container-info {
    width: 95%;
  }
  .portfolio-work-container-image {
    width: 100%;
  }
  .skills-content img {
    width: 80px;
  }
  .experience-education-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .experience-education {
    margin-top: 40px;
  }
  .experience-education,
  .experience-work {
    width: 90%;
  }
  .slanted-header {
    margin: 0 auto;
  }
}

@media (max-width: 430px) {
  .email-link {
    display: none;
  }
  .email-link-mobile {
    display: initial;
  }
}
/*# sourceMappingURL=styles.css.map */