@import "./css/partials/setup";
$base-colour: #0071EB;
$darker-base: rgb(0, 95, 196);
$orange-base: rgb(255, 145, 0);

//SHARED STYLES

body {
  font-family: "Raleway", sans-serif;
  font-size: 125%;
}

body.screen-dim-active {
    overflow: hidden;
}

h2 {
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}


.hidden-element {
    display: none;
}

.stroke-text {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

//HEADER SECTION

header {
  position: relative;
  height: 100vh;
  min-height: 450px;
  background: linear-gradient(to bottom, rgb(0, 0, 0) 0%,rgb(30, 64, 102) 100%);
  overflow: hidden;
  background-attachment: fixed;
}

header:after {
    content: "";
    background: url("/img/astrobg.jpg");
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-attachment: fixed;
    background-size: cover;
}

.globe-image-bg {
    width: 200vw;
    position: absolute;
    top: calc(100vh - 40vh);
    left: calc(100vw - 180vw);
    z-index: 1;
    filter: brightness(70%) contrast(140%) drop-shadow(15px -15px 22px #7bceff);
    animation-name: globe-rotation;
    animation-duration: 380s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes globe-rotation {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(359deg);}
}

.name-container {
  position: absolute;
  top: 35%;
  left: 40%;
  transform: translate(-40%, -35%);
  text-align: left;
  margin: 0 auto;
  color: white;
  z-index: 2;
}

.name-container h1 {
  font-family: "Do Hyeon", sans-serif;
  font-size: 4.5rem;
}

.name-container h2 {
    font-size: 2.5rem;
}

nav {
  width: 100%;
}

.tasty-burger {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 5;
}

.upper-ham-active {
    transform: rotate(45deg) translateY(18px);
    transition: 0.3s;
}
.lower-ham-active {
    transform: rotate(-45deg)  translateY(-18px);
    transition: 0.3s;
}
.middle-ham-active {
    transform: translateX(100vw);
    transition: 0.3s;
}

.hambar {
    height: 5px;
    background: linear-gradient(to bottom, $base-colour 0%, $darker-base 100%);
    border: 1px solid white;
    width: 40px;
    margin: 8px 0;
    transition: 0.3s;
}

.navbar-responsive {
    position: fixed;
    top: 80px;
    right: -100vw;
    width: 100vw;
    height: 300px;
    z-index: 5;
    transition: 0.5s;
}

.navbar-navlink-responsive {
    height: 60px;
    width: 180px;
}

.navbar-shown {
    right: 50%;
    transform: translateX(50%);
    transition: 0.5s;
}

.navbar-navlist-responsive {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-responsive-container {
    position: fixed;
    top: 80px;
    z-index: 2;
}

.screen-dim {
    position: fixed;
    width: 100vh;
    height: 100vh;
    background: black;
    opacity: 0.65;
    z-index: 2;
}

.navitem-responsive {
    width: 200px;
    height: 45px;
    margin: 25px auto;
    text-align: center;
    background: linear-gradient(to bottom, $base-colour 0%, $darker-base 100%);
    transform: skew(-25deg);
}

.navitem-responsive a {
    display: block;
    margin: 0 auto;
    transform: skew(25deg);
    text-decoration: none;
    color: white;
    line-height: 45px;
}

.navbar {
  width: 70%;
  max-width: 800px;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) skew(-25deg);
  background: linear-gradient(to bottom, $base-colour 0%, $darker-base 100%);
  z-index: 3;
  transition: 0.4s;
}

.navbar-stickied {
    position: fixed;
    top: 0;
    bottom: auto;
    z-index: 1;
    height: 40px;
    font-size: 1rem;
    width: 100%;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.25);
    transition: 0.3s;
}

.navbar-navlist {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

.navitem {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  transform: skew(25deg);
  padding: 0 1% 0 1%;
  color: white;
}

.navitem-stickied {
    height: 40px;
    line-height: 40px;
}

.navbar-navlink {
    text-decoration: none;
    color: white;
    padding: 16px 0 16px 0;
}

.navbar-navlink:hover {
    text-shadow: 4px 4px 6px rgba(0,0,0,0.6);
    transition: 0.3s;
    color: $orange-base;
}

//ABOUT SECTION

.about img {
    width: 100%;
}

.about {
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 450px;
}

.about-boxes-container {
    display: flex;
    width: 85%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    min-height: 350px;
}

.about-box-image {
  width: 45%;
  padding-left: 5%;
  padding-bottom: 3%;
  background: $base-colour;
  box-shadow: 12px 12px 15px 0px rgba(0,0,0,0.25);
}

.about-box-image img {
    width: 100%;
    min-width: 250px;
    max-width: 550px;
    box-shadow: -8px 12px 10px 0px rgba(0,0,0,0.2);
}

.about-me-header {
  text-align: center;
  padding: 5px;
  width: 180px;
  background: $base-colour;
  height: 50px;
  transform: skew(-25deg);
  margin-left: 40px;
  color: white;
  border-left: 10px solid $orange-base;
  border-top: 5px solid $orange-base;
  box-shadow: 8px 8px 10px 0px rgba(0,0,0,0.25);
}

.about-me-header p {
  margin: 0;
  font-size: 1.2em;
  line-height: 40px;
  transform: skew(25deg);
}

.about-box-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    text-align: left;
}

.about-box-text .about-me-text {
    line-height: 2rem;
}

// PORTFOLIO SECTION

.portfolio {
    margin-bottom: 100px;
}

.portfolio-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-content p {
    margin: 0;
}

.portfolio-content h3 {
    margin-bottom: 20px;
    margin-top: 0;
}

.portfolio-work-container {
    display: flex;
    width: 70%;
    margin: 50px 0 50px 0;
    max-width: 700px;
}

.portfolio-work-container-image {
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
    -moz-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
    max-width: 450px;
    transition: 0.3s;
}

.work-container-info{
    width: 70%;
    text-align: center;
}

.work-container-text {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.portfolio-image-link:hover .portfolio-work-container-image{
    filter: drop-shadow(0px 0px 10px $orange-base);
    transform: scale(1.05);
    transition: 0.3s;
}

.work-container-text p {
    padding: 5px;
    font-size: 0.9em;
}

.work-container-viewgit {
    text-align: center;
}

.portfolio-github-code-link {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.portfolio-github-code-link:hover {
    color: $darker-base;
    transition: 0.3s;
}

.portfolio-github-code-link:hover .github-icon {
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.25));
    transition: 0.3s;
}

.github-icon {
    width: 40px;
    margin-top: 5px;
    transition: 0.3s;
}

//SKILLS SECTION

.skills {
    text-align: center;
    width: 100%;
    padding: 30px 0 30px 0;
}

.skills-content {
    background: linear-gradient(to bottom, $base-colour 0%, $darker-base 100%);
    width: 100%;
    margin: 0 auto;
    padding: 30px 0 30px 0;
}

.skills img {
  width: 120px;
  filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.808));
}

//EXPERIENCE SECTION

.experience {
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-education-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    width: 90%;
    margin-bottom: 80px;
}

.experience-content h4 {
    margin: 0;
}

.experience-education h4{
    line-height: 30px;
    background-repeat: no-repeat;
    background-size: 30px auto;
    padding-left: 40px;
}

.experience-education ul {
    list-style: none;
    padding: 10px;
}

.hackeryou-education-heading {
    background-image: url("/img/icon/hy.svg");
}

.carleton-education-heading {
    background-image: url("/img/icon/carleton.svg");
}

.experience-content p {
    margin: 10px 0 25px 0;
}

.experience-header-text {
    margin-top: 40px;
    margin-bottom: 80px;
    text-align: center;
}

.education-logo {
    width: 30px;
}


.slanted-header {
    text-align: center;
    padding: 5px;
    width: 220px;
    background: $base-colour;
    height: 60px;
    line-height: 45px;
    transform: skew(-25deg);
    color: white;
    border-left: 10px solid $orange-base;
    border-top: 5px solid $orange-base;
    margin-left: 50px;
    box-shadow: 8px 8px 10px 0px rgba(0,0,0,0.25);
}

.slanted-header h3 {
    transform: skew(25deg);
    margin: 0;
}

.experience-education {
    width: 50%;
}

.experience-education p {
    padding-left: 40px;
}

.experience-work {
    width: 50%;
}

//CONTACT SECTION

.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    flex-direction: column;
    background: linear-gradient(to bottom, $base-colour 0%, $darker-base 100%);
    color: white;
}

.contact-content {
    margin: 0 auto;
    text-align: center;
}

.email-link {
    text-decoration: none;
    color: white;
    transition: 0.3s;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.4);
}

.email-link:hover {
    color: $orange-base;
    transition: 0.3s;
    transform: scale(1.1);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.email-link-mobile {
    display: none;
}

.contact h4 {
    font-size: 1.6rem;
}

.contact i {
    text-shadow: 3px 3px 5px rgba(0,0,0,0.4);
    margin-left: 5px;
    margin-right: 5px;
}

.contact-icons-list {
    list-style: none;
    padding: 0;
}

.contact-icons-list li {
    display: inline;
    font-size: 2em;
}

.contact-icons-list a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.contact-icons-list a:hover {
    color: $orange-base;
    transition: 0.3s;
}

//FOOTER BAR

footer {
    background: black;
    color: white;
    width: 100%;
    padding: 10px;
    text-align: center;
    height: 45px;
}

footer p {
    margin: 0;
    font-size: 1rem;
}

//Media Queries

@media (max-width: 950px) {

    //Portfolio section

    .portfolio {
        margin-bottom: 10px;
    }

    .portfolio-work-container {
        flex-direction: column;
        align-items: center;
    }

    .work-container-info {
        width: 90%;
    }

    .work-container-text {
        width: 90%;
        text-align: center;
    }
}

@media(max-width: 800px) {
    .about-boxes-container {
        flex-direction: column;
        align-items: center;
    }

    .about-box-text {
        width: 80%;
    }

    .about-me-header {
        margin: 30px auto 0 auto;
    }
}

@media(max-width: 700px) {

    h2 {
        font-size: 2rem;
    }

    // Header section

    .name-container h2 {
        font-size: 6vw;
    }

    .navbar,
    .navbar-stickied {
        display: none;
    }

    .tasty-burger {
        display: initial;
    }

    //About me section

    .about {
        min-height: 100vh;
        height: auto;
    }

    .about-boxes-container {
        width: 100%;
    }

    .about-box-image {
        width: 80%;
    }

    // Portfolio section

    .portfolio-work-container {
        width: 100%;
        font-size: 5vw;
    }

    .work-container-info {
        width: 95%;
    }

    .portfolio-work-container-image {
        width: 100%;
    }

    //Skills section

    .skills-content img {
        width: 80px;
    }

    // Experience Section
    .experience-education-container {
        flex-direction: column;
        align-items: center;
    }

    .experience-education {
        margin-top: 40px;
    }

    .experience-education,
    .experience-work {
        width: 90%
    }

    .slanted-header {
        margin: 0 auto;
    }
}

@media(max-width: 430px) {

    //Contact section

    .email-link {
        display: none;
    }

    .email-link-mobile {
        display: initial;
    }
}

